src/main/mule/muleapp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d584821e-c2ea-4bdb-951b-365a96d09a29" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleapp1Flow" doc:id="07425d57-b361-4a98-aa17-dafdf1775ca2" >
		<http:listener doc:name="Listener" doc:id="611ced3f-2db4-4319-b034-2501b947adf0" config-ref="HTTP_Listener_config" path="/sai"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="63946793-4373-47f5-9ed1-6ce821646531" />
	</flow>
</mule>
